$icon-color: #432eab;
$title-color: #262c40;
$text-color: #8189a3;
$searchbar-border-color: #d4defe;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$bg-color: #fff;
$overlay-color: rgba(188, 195, 208, 0.5);
$modal-bg-color: #fff;
